@using Web.Helpers
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ajax = new AjaxOptions
    {
        UpdateTargetId = "content1",
        Url = Url.Action("GetContent", "Home"),
        LoadingElementId = "loadingElement"
    };
}

@section Context{

    <div class="post_box pb_last">
        
        @using (Ajax.BeginForm(ajax))
        {
            <div id="content1">
                @Html.Action("GetContent", new {pageNum = ViewBag.CurrentPage})
            </div>
            <div class="cleaner"></div>
            <script>slideToggleDiv('#content1')</script>
        }
    </div >
}

<script>
    function UpdateContent(page) {
        $(function () {

            var pageNumber;
            if (page == null) {
                pageNumber = $(".btn-primary").html();
            } else {
                pageNumber = page;
            }

            var viewModel = {
                pageNum: pageNumber
            }
            $.ajax({
                url: '@Url.Action("GetContent")',
                data: viewModel,
                success: function (data) {
                    $('#content1').html(data);
                }
            });
        });
    }

    function Refresh() {
        slideToggleDiv('#content1', 500);
        UpdateContent(1);
    }
</script>

